<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Teléfono Validación </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="/static/materialize-css/dist/css/materialize.min.css">
  	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/img/icons/favicon1.jpg">
  </head>

  	<body>
  		<section class="container">
  			<div class="row">
  				<img class="imagenCarousel col s6 offset-s3" src="/static/assets/img/icons/phone.png">
  			</div>
  		</section>

  		<section class="container">
  			<div class="row">
  				<h2 class="center">Para comenzar validemos tu número</h2>
  			</div>

  			<div class="row">
  				<h4 class="center texto-letra">Recibirás un SMS con un código de validación</h4>
  			</div>
  		</section>

      <section>
    		<form class="container">
    			<div class="row">
    				<div class="input-field col s12">
    					<input id="icon_telephone" type="number" class="validate col s12">
    					<label for="icon_telephone"><img class="icons-img" src="/static/assets/img/icons/phoneandnumber.png"></label>
    				</div>
    			</div>

    			<div class="row">
    				<div class="col s12">
    					<input type="checkbox" class="filled-in " id="filled-in-box" checked="checked" />
    					<label class="col s1" for="filled-in-box"></label>
    					<span class="col s11"><h5>Acepto los <a>Términos y condiciones.</a></h5></span>
    				</div>
    			</div>

    			<div class="row">
    				<a  class="btn-large col s4 offset-s4 boton-amarillo" href="b_codigo.html">CONTINUAR</a>
    			</div>
        </form>
      </section>

  		<script src="/static/jquery/dist/jquery.min.js"></script>
  		<script src="/static/materialize-css/dist/js/materialize.min.js"></script>
  		<!-- <script src="/static/assets/js/main.js"></script> -->
  	</body>
  </html>
