<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Código SMS </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="/static/materialize-css/dist/css/materialize.min.css">
  	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/img/icons/favicon1.jpg">
  </head>

  <body>
    <section class="container">
      <div class="row">
        <img class="col s6 offset-s3" src="/static/assets/img/icons/message.png">
      </div>
    </section>

    <section class="container">
      <div class="row">
        <h2 class="center">Ahora ingresa tu código</h2>
      </div>

      <div class="row">
        <h4 class="center texto-letra">Enviamos un SMS con el código de validación al número: <span><strong> 99752863</strong></span></h4>
      </div>
    </section>

    <section>
      <form class="container">
        <div class="row">
          <div class="input-field col s12">
            <input id="icon_telephone" type="number" class="validate col s12">
            <label for="icon_telephone"><img class="icons-img" src="/static/assets/img/icons/lock.png"></label>
          </div>
        </div>

        <div class="row">
          <div class="col s12 center">
            <h5 class="col s12">Reintentar en <img src="/static/assets/img/icons/clock.png"> 21</h5>
          </div>
        </div>
      </form>
    </section>

		<script src="/static/jquery/dist/jquery.min.js"></script>
		<script src="/static/materialize-css/dist/js/materialize.min.js"></script>
		<script src="/static/assets/js/cambio_b-c.js"></script>
	</body>
</html>
