<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> ¡Bien! </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="/static/materialize-css/dist/css/materialize.min.css">
  	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/img/icons/favicon1.jpg">
  </head>

  <body id="aprobado">
  	<div class="container">
  		<div class="row middle-element">
  			<div class="offset-s2 col s8 center">
  				<img class="responsive-img" src="/static/img/icons/check.png">
  				<h4><strong>¡Bien!</strong></h4>
  				<h4><strong>Ahora puedes usar Yape</strong></h4>
  			</div>
  		</div>
  	</div>

		<script src="/static/jquery/dist/jquery.min.js"></script>
		<script src="/static/materialize-css/dist/js/materialize.min.js"></script>
		<script src="/static/assets/js/cambio_d-e.js"></script>
	</body>
</html>
