@import 'variables'; //Importo  del archivo de variables para aplicar estilos.
@import 'mixin'; //Aun no lo ocupo

.boton-amarillo{
	background-color: $amarillo-botones;
}

.texto-letra{
	color: $gris-letra-soft;
}
.icons-img{
	width:
		15%;
}
.carousel{
	height:900px !important;
}

.carousel-slider .indicators .indicator-item.active{
	background-color:$rojo-bullet;
}
.carousel-slider .indicators .indicator-item{
	background-color:rgba(246,68,81,0.29);
}
